aiokafka==0.12.0
aiofiles==24.1.0
aioboto3==14.3.0
alembic==1.16.1
asyncpg==0.30.0
confluent-kafka==2.10.1
email_validator==2.2.0
Faker==37.3.0
fastapi==0.115.12
gevent==25.5.1
greenlet==3.2.2
grpcio==1.71.0
grpcio-reflection==1.71.0
grpcio-tools==1.71.0
httpx==0.28.1
mypy-protobuf==3.6.0
pydantic==2.11.5
pydantic-settings==2.9.1
redis==6.2.0
SQLAlchemy==2.0.41
uvicorn==0.34.2

botocore~=1.37.3
protobuf~=5.29.6
h11~=0.16.0
pip~=26.1.2
attrs~=26.1.0
cryptography~=50.0.0
typing_extensions~=4.16.0
pytest~=9.1.1
click~=8.4.2
Pygments~=2.20.0
httpcore~=1.0.9
idna~=3.18
certifi~=2026.7.22
anyio~=4.14.2
grpc_requests~=0.1.21
termcolor~=3.3.0